:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-33 {
  max-width: calc(100%/3);
  padding: 0 5px;
  margin-bottom: 10px;
}

.debug {
  border: 2px dotted red;
}

img {
  display: block;
}